<div class="p-d-flex p-flex-row p-jc-center p-ai-center view p-fluid">
    <form [formGroup]="registerForm" class="p-d-flex p-flex-column p-p-4 wrapper">
        <span class="p-as-center title">registration</span>
        <span class="p-input-icon-left p-mt-3">
            <i class="pi pi-user"></i>
            <input type="text" pInputText placeholder="Username" class="form-control" formControlName="name">         
        </span>
        <small *ngIf="registerForm.controls.name.invalid && registerForm.controls.name.dirty"
                class="p-error">Username required</small>
        <span class="p-input-icon-left p-mt-3">
            <i class="pi pi-key"></i>
            <input type="password" pInputText placeholder="Password" class="form-control"
            formControlName="password">
        </span>
        <small *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.dirty"
                class="p-error">Password required</small>  
        <button pButton type="button" label="Sign up" class="p-button-outlined p-button-rounded p-as-stretch p-mt-3" [disabled]="!registerForm.valid || registerButtonDisabled" (click)="registerAsync()"></button>
        <span class="p-as-center signin p-mt-3">Already a member? <a class="signin-link" routerLink="/login">Signin</a></span>
    </form>
    <p-toast position="bottom-center" key="registrationSuccess"></p-toast>
    <p-toast position="bottom-center" key="registrationError"></p-toast>
</div>