.view {
    height: 100%;
}

.wrapper {
    border: 6px double;
    border-color: var(--primary-color);
    border-radius: 5%;
}

.title {
    font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;
}

.signin {
    font-size: small;
}

.signin-link {
    color: var(--primary-color);
}