<div class="p-d-flex p-flex-row p-jc-center p-ai-center view p-fluid">
    <form [formGroup]="loginForm" class="p-d-flex p-flex-column p-p-4 wrapper">
        <span class="p-as-center title">login</span>
        <span class="p-input-icon-left p-mt-3">
            <i class="pi pi-user"></i>
            <input type="text" pInputText placeholder="Username" class="form-control" formControlName="name">
        </span>
        <small *ngIf="loginForm.controls.name.invalid && loginForm.controls.name.dirty" class="p-error">Username
            required</small>
        <span class="p-input-icon-left p-mt-3">
            <i class="pi pi-key"></i>
            <input type="password" pInputText placeholder="Password" class="form-control" formControlName="password">
        </span>
        <small *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.dirty" class="p-error">Password
            required</small>
        <button pButton type="button" label="Sign in" class="p-button-outlined p-button-rounded p-mt-3"
            [disabled]="!loginForm.valid || loginButtonDisabled" (click)="loginAsync()"></button>
        <span class="p-as-center signup p-mt-3">Not a member? <a class="signup-link"
                routerLink="/registration">Signup</a></span>
    </form>
    <p-toast position="bottom-center" key="loginError"></p-toast>
</div>